@using TblAdmin.Areas.Books.ViewModels.Books.DeleteViewModel

@model TblAdmin.Areas.Books.ViewModels.Books.DeleteViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Publisher.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Publisher.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.ModifiedDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        
        @Html.HiddenFor(model => model.SearchSortPageParams.SearchString)
        @Html.HiddenFor(model => model.SearchSortPageParams.SortCol)
        @Html.HiddenFor(model => model.SearchSortPageParams.SortColOrder)
        @Html.HiddenFor(model => model.SearchSortPageParams.Page)
        @Html.HiddenFor(model => model.SearchSortPageParams.PageSize)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", Model.SearchSortPageParams)
        </div>
    }
</div>
