@model TblAdmin.Areas.Books.ViewModels.Books.DetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Publisher.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Publisher.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @{
        RouteValueDictionary rvd = new RouteValueDictionary {
            {"SearchSortPageParams.SearchString", Model.SearchSortPageParams.SearchString },
            {"SearchSortPageParams.SortCol", Model.SearchSortPageParams.SortCol },
            {"SearchSortPageParams.CurrentOrder", Model.SearchSortPageParams.CurrentOrder },
            {"SearchSortPageParams.NextOrder", Model.SearchSortPageParams.NextOrder },
            {"SearchSortPageParams.Page", Model.SearchSortPageParams.Page },
            {"SearchSortPageParams.PageSize", Model.SearchSortPageParams.PageSize },
            {"Id", Model.Book.ID },
        };
    }
    @Html.ActionLink("Edit", "Edit", rvd) |
    @Html.ActionLink("Back to List", "Index", Model.SearchSortPageParams)
</p>
