<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TumbleBooks Admin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TumbleBooks", "Index", "Home", new { Area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">                    
                    
                    <!-- Site Menu -->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sites <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Sites</a></li>
                            <li><a href="#">Languages</a></li>
                            <li class="divider"></li>
                                <li><a href="#">Categories</a></li>
                                <li><a href="#">Collections</a></li>
                                <li><a href="#">Keywords</a></li>
                                <li><a href="#">Subjects</a></li>
                            <li class="divider"></li>
                                <li>@Html.ActionLink("Books", "Index", "Books", new { Area = "Books" }, null)</li>
                            <li class="divider"></li>
                                <li><a href="#">Lesson Plans</a></li>
                                <li><a href="#">Quizzes</a></li>
                                <li><a href="#">Games</a></li>
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">Videos</a></li>
                            <li class="divider"></li>
                                <li><a href="#">Authors</a></li>
                                <li><a href="#">Illustrators</a></li>
                                <li>@Html.ActionLink("Publishers", "Index", "Publishers", new { Area = "Books" }, null)</li>
                            
                        </ul>
                    </li>

                    <!-- Business Menu -->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Business <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Subscribers</a></li>
                            <li><a href="#">Subscriber Types</a></li>
                            <li class="divider"></li>
                                <li><a href="#">Subscriptions</a></li>
                                <li><a href="#">Subscription Plans</a></li>
                                <li><a href="#">Custom Pricing</a></li>
                                <li><a href="#">Coupons</a></li>
                            <li class="divider"></li>
                                <li><a href="#">Distributors</a></li>
                                <li><a href="#">Affiliates</a></li>
                            <li class="divider"></li>
                                <li><a href="#">Districts</a></li>
                                <li><a href="#">Consortia</a></li>
                        </ul>
                    </li>

                    <!-- Reports Menu -->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">TOI</a></li>
                            <li class="divider"></li>
                                <li><a href="#">Expired Trials</a></li>
                                <li><a href="#">Current Trials</a></li>
                            <li class="divider"></li>
                                <li><a href="#">Expired Subscribers</a></li>
                                <li><a href="#">Current Subscribers</a></li>
                            <li class="divider"></li>
                                <li><a href="#">Revenues</a></li>
                        </ul>
                    </li>

                    <!-- Marketing Menu -->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Marketing <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Campaigns</a></li>
                            <li><a href="#">Target Lists</a></li>
                            <li><a href="#">Email Templates</a></li>
                            <li class="divider"></li>
                                <li><a href="#">News</a></li>
                            <li class="divider"></li>
                                <li><a href="#">FaceBook App</a></li>
                            <li class="divider"></li>
                                <li>@Html.ActionLink("Help", "About", "Home", new { Area = "" }, null)</li>
                        </ul>
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TumbleBooks Inc.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
