@model TblAdmin.Areas.Production.ViewModels.Conversion.ConvertInputModel
@{
    ViewBag.Title = "Convert";
}

<h2>Convert</h2>

@using (Html.BeginForm("Convert", "Conversion", FormMethod.Post, new { enctype = "multipart/form-data" } ))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Book</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @ViewBag.Results
        <div class="form-group">
            @Html.LabelFor(m => m.BookNameRaw, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.BookNameRaw, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.BookNameRaw, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AuthorFirstNameRaw, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AuthorFirstNameRaw, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AuthorFirstNameRaw, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AuthorLastNameRaw, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.AuthorLastNameRaw, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.AuthorLastNameRaw, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BookFolderPath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.BookFolderPath, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.BookFolderPath, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FilePath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.FilePath, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.FilePath, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BookIdFromAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.BookIdFromAdmin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.BookIdFromAdmin, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ChapterHeadingTypeID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.ChapterHeadingTypeID, Model.ChapterHeadingTypes, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ChapterHeadingTypeID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BookFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.BookFile, new { type = "file", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.BookFile, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Convert" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
